<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Document</title>
    <style>
      table {
        width: 1019px;
        
      }

      .border-top {
        border-top: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table width="711" cellpadding="1" cellspacing="0">
      <colgroup>
        <col width="709" />
      </colgroup>
      <tbody>
        <tr>
          <td width="709" height="21" valign="bottom">
            <p align="center">ООО «Инстамарт Сервис»</p>
          </td>
        </tr>
        <tr>
          <td width="709" valign="top">
            <p align="center">
              <em>(наименование организации)</em>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="711" cellpadding="1" cellspacing="0">
      <tbody>
        <tr>
          <td colspan="6" width="709" height="21" valign="bottom">
            <p align="center">
              <strong>ПРИКАЗ</strong>
            </p>
            <p align="center">
              <strong>
                о создании комиссии по списанию основного средства
              </strong>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="6" width="709" height="21" valign="bottom"></td>
        </tr>
        <tr valign="bottom">
          <td height="25">
            <p align="center">{{.Date}}</p>
          </td>
          <td>
            <p align="center">№ 1/{{.ID}}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="719" cellpadding="1" cellspacing="0">
      <colgroup>
        <col width="269" />
        <col width="445" />
      </colgroup>
      <tbody>
        <tr valign="bottom">
        </br>
          <td width="269" height="21">
            <p>Для оценки необходимости списания</p>
          </td>
          <td width="445">
            <p align="center">{{.Name}}, {{.Serial}}, {{.ISC}}</p>
          </td>
        </tr>
        <tr valign="bottom">
          <td width="269" height="21"></td>
          <td width="445"></td>
        </tr>
        <tr>
          <td width="269" height="21" valign="bottom"></td>
          <td width="445" valign="top" class="border-top">
            <p align="center">
              <em> (наименование и инвентарный номер основного средства) </em>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p align="justify">1.Создать комиссию в составе:</p>
    <table width="719" cellpadding="1" cellspacing="0">
      <colgroup>
        <col width="115" />
        <col width="64" />
        <col width="14" />
        <col width="179" />
        <col width="36" />
        <col width="20" />
        <col width="274" />
        <col width="1" />
      </colgroup>
      <tbody>
        <tr>
          <td colspan="2" width="181" height="21" valign="bottom">
            <p>Председатель комиссии:</p>
          </td>
          <td width="14" valign="bottom"></td>
          <td colspan="2" width="217" valign="bottom"></td>
          <td width="20" valign="bottom"></td>
          <td width="274" valign="bottom"></td>
          <td width="1" valign="top"></td>
        </tr>
        <tr valign="top">
          <td colspan="2" width="181" height="21"></td>
          <td width="14"></td>
          <td colspan="2" width="217" class="border-top">
            <p align="center">
              <em>(должность)</em>
            </p>
          </td>
          <td width="20"></td>
          <td width="274" class="border-top">
            <p align="center">
              <em>(Ф.И.О.)</em>
            </p>
          </td>
          <td width="1"></td>
        </tr>
        <tr>
          <td colspan="2" width="181" height="21" valign="bottom">
            <p>Члены комиссии:</p>
          </td>
          <td width="14" valign="bottom"></td>
          <td colspan="2" width="217" valign="top">
            <p align="center">Руководитель отдела технической поддержки</p>
          </td>
          <td width="20" valign="bottom"></td>
          <td width="274" valign="bottom">
            <p align="center">{{.Boss}}</p>
          </td>
          <td width="1" valign="top"></td>
        </tr>
        <tr>
          <td colspan="2" width="181" height="21" valign="bottom"></td>
          <td width="14" valign="bottom"></td>
          <td colspan="2" width="217" valign="top" class="border-top">
            <p align="center">
              <em>(должность)</em>
            </p>
          </td>
          <td width="20" valign="bottom"></td>
          <td width="274" valign="top" class="border-top">
            <p align="center">
              <em>(Ф.И.О.)</em>
            </p>
          </td>
          <td width="1" valign="top"></td>
        </tr>
        <tr>
          <td colspan="2" width="181" height="21" valign="bottom">
            <p>Члены комиссии:</p>
          </td>
          <td width="14" valign="bottom"></td>
          <td colspan="2" width="217" valign="top">
            <p align="center">Руководитель группы технической поддержки</p>
          </td>
          <td width="20" valign="bottom"></td>
          <td width="274" valign="bottom">
            <p align="center">{{.Lead}}</p>
          </td>
          <td width="1" valign="top"></td>
        </tr>
        <tr>
          <td colspan="2" width="181" height="21" valign="bottom"></td>
          <td width="14" valign="bottom"></td>
          <td colspan="2" width="217" valign="top" class="border-top">
            <p align="center">
              <em>(должность)</em>
            </p>
          </td>
          <td width="20" valign="bottom"></td>
          <td width="274" valign="top" class="border-top">
            <p align="center">
              <em>(Ф.И.О.)</em>
            </p>
          </td>
          <td width="1" valign="top"></td>
        </tr>
        <tr valign="bottom">
          <td width="115" height="21">
            <p>2.Комиссии до</p>
          </td>
          <td colspan="3" width="261">
            <p align="center">18.03.2024</p>
          </td>
          <td colspan="4" width="337"></td>
        </tr>
        <tr>
          <td width="115" height="21" valign="bottom"></td>
          <td colspan="3" width="261" valign="top" class="border-top">
            <p align="center">
              <em>(дата)</em>
            </p>
          </td>
          <td colspan="4" width="337" valign="bottom"></td>
        </tr>
        <tr valign="bottom">
          <td width="115" height="21"></td>
          <td colspan="7" width="599">
            <p align="center">{{.Name}}, {{.Serial}}, {{.ISC}}</p>
          </td>
        </tr>
        <tr>
          <td width="115" height="21" valign="bottom"></td>
          <td colspan="7" width="599" valign="top" class="border-top">
            <p align="center">
              <em>(наименование основного средства)</em>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li>определить необходимость и причину списания основного средства;</li>
      <li>оценить возможность использования деталей, узлов основного средства и их стоимость.
      </li>
    </ul>
    <p align="justify">С приказом ознакомлены:</p>
    <table width="719" cellpadding="1" cellspacing="0">
      <colgroup>
        <col width="196" />
        <col width="20" />
        <col width="137" />
        <col width="27" />
        <col width="203" />
        <col width="27" />
        <col width="93" />
      </colgroup>
      <tbody>
        <tr valign="bottom">
          <td width="196" height="42">
            <p>Руководитель отдела технической поддержки</p>
          </td>
          <td width="20"></td>
          <td width="137"></td>
          <td width="27"></td>
          <td width="203">
            <p align="center">{{.Boss}}</p>
          </td>
          <td width="27"></td>
          <td width="93"></td>
        </tr>
        <tr valign="bottom">
          <td width="196" height="21" class="border-top">
            <p align="center">
              <em>(должность)</em>
            </p>
          </td>
          <td width="20"></td>
          <td width="137" class="border-top">
            <p align="center">
              <em>(подпись)</em>
            </p>
          </td>
          <td width="27"></td>
          <td width="203" class="border-top">
            <p align="center">
              <em>(Ф.И.О.)</em>
            </p>
          </td>
          <td width="27"></td>
          <td width="93" class="border-top">
            <p align="center">
              <em>(дата)</em>
            </p>
          </td>
        </tr>
        <tr valign="bottom">
          <td width="196" height="21">
            <p>Руководитель группы технической поддержки</p>
          </td>
          <td width="20"></td>
          <td width="137"></td>
          <td width="27"></td>
          <td width="203">
            <p align="center">{{.Lead}}</p>
          </td>
          <td width="27"></td>
          <td width="93"></td>
        </tr>
        <tr valign="bottom">
          <td width="196" height="21" class="border-top">
            <p align="center">
              <em>(должность)</em>
            </p>
          </td>
          <td width="20"></td>
          <td width="137" class="border-top">
            <p align="center">
              <em>(подпись)</em>
            </p>
          </td>
          <td width="27"></td>
          <td width="203" class="border-top">
            <p align="center">
              <em>(Ф.И.О.)</em>
            </p>
          </td>
          <td width="27"></td>
          <td width="93" class="border-top">
            <p align="center">
              <em>(дата)</em>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
