<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <title>Document</title>
  <style>
    table {
      width: 1019px;
    }
  </style>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td  valign="bottom">
          <p align="center">ООО «Инстамарт Сервис»</p>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <p align="center">
            <em>(наименование организации)</em>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td  colspan="6" valign="bottom">
          <p align="center">
            <strong>ПРИКАЗ</strong>
          </p>
          <p align="center">
            <strong>о списании основного средства</strong>
          </p>
          <br />
        </td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td valign="bottom">
          <p align="center">{{.Date}}</p>
        </td>
        <td valign="bottom">
          <p align="center">№ 1/{{.ID}}</p>
        </td>
        <br />
      </tr>
    </tbody>
  </table>
  <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <br />
        <td valign="bottom">
          <p>В связи с невозможностью использования</p>
        </td>
        <td valign="bottom">
          <p align="center">
            Ноутбук {{.Name}}, {{.ISC}}, {{.Serial}}
          </p>
        </td>
      </tr>
      <tr>
        <td valign="bottom"></td>
        <td valign="top">
          <p align="center">
            <em> (наименование и инвентарный номер основного средства) </em>
          </p>
        </td>
      </tr>
      <tr>
        <td  colspan="2" valign="bottom"></td>
      </tr>
    </tbody>
  </table>
  <br />
  <table border="0" cellspacing="0" cellpadding="0" width="719">
    <tbody>
      <tr>
        <td colspan="2" valign="bottom">
          <p>1. Демонтировать основное средство силами</p>
        </td>
        <td colspan="2" valign="bottom"><span>_______________________________________________________________________________________</span></td>
      </tr>
      <tr>
        <td valign="bottom">
          <p>не позднее</p>
        </td>
        <td valign="bottom"><p align="center">________________________________</p></td>
        <td colspan="2" valign="bottom"></td>
      </tr>
      <tr>
        <td valign="bottom"></td>
        <td valign="top">
          <p align="center">
            <em>(дата)</em>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" valign="bottom">
          <br />
          <p>
            2. Главному бухгалтеру списать основное средство с бухгалтерского
            учета
          </p>
        </td>
        <td valign="bottom"><span>_______________________________________________________________________________________</span></td>
      </tr>
      <tr>
        <td colspan="3" valign="bottom"></td>
        <td width="191" valign="top">
          <p align="center">
            <em>(дата)</em>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="720">
    <tbody>
      <tr>
        <td width="198" valign="bottom"><p align="center">__________________________________________________________</p></td>
        <td width="24" valign="bottom"></td>
        <td width="137" valign="bottom"><p align="center">___________________</p></td>
        <td width="29" valign="bottom"></td>
        <td width="332" valign="bottom"><p align="center">__________________________________________</p></td>
      </tr>
      <tr>
      </br></br>
        <td width="198" valign="top">
          <p align="center">
            <em>(должность руководителя организации)</em>
          </p>
        </td>
        <td width="24" valign="top">
          <p align="center">
            <em></em>
          </p>
        </td>
        <td width="137" valign="top">
          <p align="center">
            <em>(подпись)</em>
          </p>
        </td>
        <td width="29" valign="top">
          <p align="center">
            <em></em>
          </p>
        </td>
        <td width="332" valign="top">
          <p align="center">
            <em>(Ф.И.О.)</em>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>С приказом ознакомлены:</p>
  <table border="0" cellspacing="0" cellpadding="0" width="719">
    <tbody>
      <tr>
        <td width="198" valign="bottom">
          <p align="center">Главный бухгалтер</p>
        </td>
        <td width="22" valign="bottom"></td>
        <td width="211" valign="bottom" ><p align="center">_________________________________</p></td>
        <td width="29" valign="bottom"></td>
        <td width="205" valign="bottom"><p align="center">
          _________________________________
        </p></td>
        <td width="29" valign="bottom"></td>
        <td width="95" valign="bottom"><p align="center">________________</p></td>
      </tr>
      <tr>
        <td width="198" valign="top">
          <p align="center">
            <em>(должность)</em>
          </p>
          <p align="center">
            <em></em>
          </p>
        </td>
        <td width="22" valign="top"></td>
        <td width="139" valign="top">
          <p align="center">
            <em>(подпись)</em>
          </p>
        </td>
        <td width="29" valign="top"></td>
        <td width="205" valign="top">
          <p align="center">
              <em>(Ф.И.О.)</em>
            </p>
        </td>
        <td width="29" valign="top"></td>
        <td width="95" valign="top">
          <p align="center">
            <em>(дата)</em>
          </p>
        </td>
      
      </tr>
     <tr>
        <td width="198" valign="bottom">
        </br>
          <p align="center">Руководитель отдела технической поддержки</p>
        </td>
        <td width="22" valign="bottom"></td>
        <td width="211" valign="bottom" ><p align="center">_________________________________</p></td>
        <td width="29" valign="bottom"></td>
        <td width="205" valign="bottom"><p align="center">
          {{.Boss}}
        </p></td>
        <td width="29" valign="bottom"></td>
        <td width="95" valign="bottom"><p align="center">________________</p></td>
      </tr>
      <tr>
        <td width="198" valign="top">
          <p align="center">
            <em>(должность)</em>
          </p>
          <p align="center">
            <em></em>
          </p>
        </td>
        <td width="22" valign="top"></td>
        <td width="139" valign="top">
          <p align="center">
            <em>(подпись)</em>
          </p>
        </td>
        <td width="29" valign="top"></td>
        <td width="205" valign="top">
          <p align="center">
              <em>(Ф.И.О.)</em>
            </p>
        </td>
        <td width="29" valign="top"></td>
        <td width="95" valign="top">
          <p align="center">
            <em>(дата)</em>
          </p>
        </td>
      </tr>
      <tr>
        <td width="198" valign="bottom">
        </br>
          <p align="center">Руководитель группы технической поддержки</p>
        </td>
        <td width="22" valign="bottom"></td>
        <td width="211" valign="bottom" ><p align="center">_________________________________</p></td>
        <td width="29" valign="bottom"></td>
        <td width="205" valign="bottom"><p align="center">
          {{.Lead}}
        </p></td>
        <td width="29" valign="bottom"></td>
        <td width="95" valign="bottom"><p align="center">________________</p></td>
      </tr>
      <tr>
        <td width="198" valign="top">
          <p align="center">
            <em>(должность)</em>
          </p>
          <p align="center">
            <em></em>
          </p>
        </td>
        <td width="22" valign="top"></td>
        <td width="139" valign="top">
          <p align="center">
            <em>(подпись)</em>
          </p>
        </td>
        <td width="29" valign="top"></td>
        <td width="205" valign="top">
          <p align="center">
              <em>(Ф.И.О.)</em>
            </p>
        </td>
        <td width="29" valign="top"></td>
        <td width="95" valign="top">
          <p align="center">
            <em>(дата)</em>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
