<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Document</title>
    <style>
      table {
        width: 1019px;
      }

      .border-top {
        border-top: 1px solid black;
      }
    </style>
  </head>
  <body>
    <p align="right">ООО "Инстамарт Сервис"</p>
    <p align="right">Утверждаю:</p>
    <p align="right">Генеральный директор</p>
    <p align="right">______________</p>
    <p align="right">
      <em>Глухов П.А.</em>
    </p>
    <p align="right">«01» Марта 2024</p>
    <p align="center">
      <strong>ДЕФЕКТНАЯ ВЕДОМОСТЬ</strong>
    </p>
    <p align="center">
      <strong>на списание основного средства</strong>
    </p>
    <table width="100%" cellpadding="7" cellspacing="0">
      <tbody>
        <tr valign="top">
          <td width="50%">
            <p align="center">{{.Date}} 1/{{.ID}}</p>
          </td>
          <td width="50%">
            <p align="center">1 №1/12</p>
          </td>
        </tr>
        <tr valign="top">
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <table border="1" cellpadding="7" cellspacing="0">
      <tbody>
        <tr valign="top">
          <td width="155">
            <p align="center">Название объекта</p>
          </td>
          <td width="247">
            <p align="center">Выявленная неисправность</p>
          </td>
          <td width="159">
            <p align="center">Решение</p>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <p align="center">Ноутбук {{.Name}}, {{.ISC}}, {{.Serial}}</p>
          </td>
          <td valign="top">
            <p align="center">{{.Flaw}}</p>
          </td>
          <td valign="top">
            <p align="center">{{.Decision}}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Члены комиссии:</p>
    <p>Должность: Руководитель отдела технической поддержки</p>
    <p>{{.Boss}}</p>
    <p>Должность: Руководитель группы технической поддержки</p>
    <p>{{.Lead}}</p>
  </body>
</html>
